@use "./variables/colors" as *;
@use "./variables/mediaQuery" as *;
@use "./mixins" as *;
@use "./fonts" as *;
@use "./global" as *;
$padding: 1.5rem;
$gap: 1rem;
$gap-1: 2rem;
$gap-2: 22vh;
$gap-3: 2vh;
$gap-4: 0.5rem;
$border-radius: 1.25rem;
$width: 85%;
%fixed-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%overlay {
  width: 100vw;
  height: 100vh;
  @extend %fixed-position;
  z-index: 10000;
  background-color: $overlay;
}
%phone-child {
  content: "";
  width: 100%;
  border-bottom: 0.1875rem solid $black-1;
  position: absolute;
  left: 0;
}
%text {
  color: $black-1;
  font-family: MochiyPopPOne-Regular;
  text-align: center;
}
%width {
  width: calc((100% - $gap) / 4);
}
%image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon {
  height: 100%;
  max-height: 3rem;
  aspect-ratio: 1;
  position: relative;
  z-index: 1000;
  background: linear-gradient(to bottom, $yellow-3 2%, $yellow-2);
  color: $white-1;
  font-size: 1.25rem;
  border: 0.25rem solid $blue-1;
  border-radius: 27%;
  box-shadow: 0 0.25rem 0.25rem $shadow-1;
  .fa-solid {
    filter: drop-shadow(0 0.25rem 0.25rem $shadow-1);
  }

  &.info {
    transform-style: preserve-3d;

    &.show {
      &::before {
        opacity: 1;
        animation-name: visible;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
      }
    }

    &.hide {
      &::before {
        transform: translateZ(-1px) scaleX(0);
      }
    }

    &::before {
      content: attr(text);
      height: 100%;
      padding: 0.25rem 1.5rem;
      position: absolute;
      left: 80%;
      transform: translateZ(-1px);
      opacity: 0;
      transform-origin: 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white-1;
      color: $black-1;
      font-size: 90%;
      font-family: MochiyPopPOne-Regular;
      white-space: nowrap;
      letter-spacing: 0.1rem;
      @include mediaQuery($mobile_min_width) {
        font-size: 70%;
      }
      border-radius: 0 0.75rem 0.75rem 0;
      transition: 0.5s;
      filter: drop-shadow(0 0.25rem 0.25rem $shadow-1);
    }
  }

  &.pause {
    height: 100%;
    position: absolute;
    left: 0;
    top: calc(100vh - (2 * $padding));
    transform: translateY(-100%);
    transition: 0.5s;
    visibility: hidden;
    z-index: 111111111111;
    .fa-solid {
      &.hide {
        display: none;
      }
    }
  }
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;

  .loader {
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
      calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
      calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
      calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
      calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
      calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
      calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
  }
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.main-container {
  display: block;
  overflow: visible;
  width: 80%;
  height: 100%;
  position: relative;
  inset: 0;
  margin: auto;

  .game-item {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .main-title,
    .sub-title {
      display: block;
      overflow: visible;
      position: absolute;
      margin: auto;
      @extend %image;
      z-index: 999;
    }
    .main-title {
      width: 24.122%;
      height: 7.032%;

      top: 6.12%;
      left: 0;
      right: 0;
    }
    .sub-title {
      width: 39.356%;
      height: 5.99%;
      top: 14.454%;
      right: 0;
    }
    .image-container {
      width: 100%;
      display: block;
      height: 100%;
      overflow: visible;
      @extend %image;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      

      .drop-item {
        display: block;
        overflow: visible;
        width: 25%;
        height: 32.5%;
        position: absolute;
        top: 12.7%;
      }
    }
    .drag-main-container {
      display: block;
      height: 25%;
      width: 100%;
      position: absolute;
      bottom: 0;
      overflow: visible;
      background: #ffffff;

      .drag-container {
        display: block;
        overflow: visible;
        width: 49.805%;
        height: 85.3%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        direction: rtl;
        .drag-item {
          width: 25.295%;
          height: 100%;
          @extend %image;
          position: absolute;
          bottom: 0;
          top: 0;
          cursor: grab;
          display: block;
          overflow: visible;
          z-index: 10000;

          cursor: move;
          transition: width 0.2s ease, height 0.2s ease, transform 0.1s linear;
          &.dragging {
            width: 51%;
            height: 115%;
            cursor: grabbing;
          }

          &:first-child {
            left: 10%;
          }
          &:nth-child(2) {
            left: 40%;
          }
          &:last-child {
            left: 70%;
          }
          &.draging {
            cursor: move !important;
            z-index: 99999;
            opacity: 0.5;
          }
          span {
            display: block;
            overflow: hidden;
            width: 46%;
            height: 38%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            @extend %image;
            z-index: 1111;
            // background-image: url(../media/images/whiteImg/4.svg);
          }
        }
      }
    }
    .main-message-container {
      display: none;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 9999;
      .inner-message-container {
        display: block;
        overflow: visible;
        width: 31.153%;
        height: 46.224%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 0 169px 0 rgba(0, 0, 0, 0.2),
          0 5px 5px 0 rgba(0, 0, 0, 0.24);
        border-radius: 30px;
        border: 3px solid #e2e2e2;
        background: rgb(219, 219, 219);
        background: linear-gradient(
          0deg,
          rgba(219, 219, 219, 1) 0%,
          rgba(255, 255, 255, 1) 52%
        );
        #feedback {
          display: block;
          overflow: hidden;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
          &.wellDonw {
            width: 32.602%;
            height: 7.89%;
            top: 37.93%;
            background-image: url("../media/images/wellDonw.svg");
          }
          &.good {
            width: 19.44%;
            height: 8.17%;
            top: 37.184%;
            background-image: url("../media/images/good.svg");
          }
          &.tryAgain {
            width: 57.681%;
            height: 8.451%;
            top: 37.493%;
            background-image: url("../media/images/tryAgain.svg");
          }
  
        }

      
        #message-icone {
          display: block;
          overflow: hidden;
          width: 52.98%;
          height: 17.184%;
          position: absolute;
          top: 10.423%;
          left: 0;
          right: 0;
          margin: auto;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100% 100%;
        }
        .wellDonw-icon {
          background-image: url("../media/images/message-icon-wellDonw.svg");
        }
        .good-icon {
          background-image: url("../media/images/message-icon-good.svg");
        }
        .tryAgain-icon {
          background-image: url("../media/images/message-icon-tryAgain.svg");
        }
        .result-text {
          display: block;
          overflow: hidden;
          width: 18.17%;
          height: 7.944%;
          position: absolute;
          top: 60.141%;
          left: 0;
          right: 0;
          margin: auto;
          background: url("../media/images/result-text.svg") no-repeat center;
          background-size: 100% 100%;
        }

        .result-container {
          display: block;
          overflow: hidden;
          width: 36.991%;
          height: 12.113%;
          position: absolute;
          top: 69.592%;
          left: 0;
          right: 0;
          margin: auto;
          background: url("../media/images/result.svg") no-repeat center;
          background-size: 100% 100%;
          span {
            display: block;
            overflow: hidden;
            width: 90%;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: auto;
            font-size: 3vmin;
            text-align: center;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
        .reload {
          display: block;
          overflow: hidden;
          width: 17.421%;
          height: 15.803%;
          position: absolute;
          bottom: -6.7%;
          left: 0;
          right: 0;
          margin: auto;
          background: url('../media/images/reload.svg') no-repeat center;
          background-size: 100% 100%;
          cursor: pointer;
        }
      }
    }
  }
}

.pop-overlay {
  @extend %overlay;
  background-color: $overlay-1;
  visibility: hidden;
}
.popup {
  width: 70vw;
  height: 70vh;
  max-height: 90%;
  padding: 2rem;

  @extend %fixed-position;
  z-index: 100000;
  background-color: $white-1;
  text-align: center;
  border-radius: 1rem;
  visibility: hidden;
  .phone {
    width:7vw;
    height:21vh;
    position: relative;
    flex-shrink: 0;
    border: 0.1875rem solid $black-1;
    border-radius: 0.3125rem;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: rotatePhone;
    animation-duration: 2s;

    &::after {
      @extend %phone-child;
      top: 9%;
    }

    &::before {
      @extend %phone-child;
      bottom: 9%;
    }
  }
  .message {
    font-family: DarumadropOne-Regular;
    text-transform: uppercase;
    font-size: 4vw;
  }
}

.overlay {
  @extend %overlay;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

.fullscreen-overlay {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  position: fixed;
  inset: 0;
  z-index: 10870000;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  

  &.hide{
    display: none;
  }
  .message {
    font-family: DarumadropOne-Regular;
    text-transform: uppercase;
    font-size: 4vw;
    animation: click 1s ease-in-out alternate-reverse;
  }

}

/*animations*/

@keyframes skew {
  0% {
    transform: skew(-15deg, -15deg); /* تبدأ من المركز */
  }
  25% {
    transform: skew(15deg, 15deg);
  }
  50% {
    transform: skew(-15deg, -15deg);
  }
  75% {
    transform: skew(15deg, 15deg);
  }
  100% {
    transform: skew(0deg, 0deg);
    /* ستعتمد الحركة النهائية على التنسيقات المختلفة لكل عنصر */
  }
}

@keyframes circle1 {
  0% {
    transform: translate(40px, 33px) rotate(359deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes circle2 {
  0% {
    transform: translate(381px, 238px) rotate(360deg);
  }
  50% {
    transform: translate(149px, 83px) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes circle3 {
  0% {
    transform: translate(545px, 229px) rotate(360deg);
  }
  50% {
    transform: translate(178px, 45px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes circle4 {
  0% {
    transform: translate(751px, 246px) rotate(360deg);
  }
  25% {
    transform: translate(541px, 44px) rotate(300deg);
  }
  50% {
    transform: translate(376px, -1px) rotate(180deg);
  }
  75% {
    transform: translate(192px, -20px) rotate(90deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes circle5 {
  0% {
    transform: translate(923px, 223px) rotate(360deg);
  }
  25% {
    transform: translate(541px, 44px) rotate(360deg);
  }
  50% {
    transform: translate(376px, -1px) rotate(300deg);
  }
  75% {
    transform: translate(192px, -20px) rotate(180deg);
  }
  90% {
    transform: translate(169px, -45px) rotate(90deg);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-170%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.1);
  }

  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes visible {
  0% {
    transform: translateZ(-1px) scaleX(0);
  }

  100% {
    transform: translateZ(-1px) scaleX(1);
  }
}

@keyframes hideGame {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
@keyframes trueAnswer {
  0% {
    width: 0;
  }
  50% {
    width: 120%;
    background-color: rgb(40, 187, 255);
  }
  100% {
    width: 100%;
  }
}

@keyframes scaleDown {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    top: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes showCards {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes showCards2 {
  0%,
  5% {
    transform: rotateZ(0deg) scale(0);
  }
  15% {
    transform: rotateZ(-15deg) scale(1.1);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg) scale(1.1);
  }
  40%,
  100% {
    transform: rotateZ(0deg) scale(1);
  }
}

@keyframes vibrate {
  0% {
    transform: rotate(-10deg);
  }

  25% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}
@keyframes successScaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes successScaleDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotatePhone {
  0%,
  10% {
    transform: rotate(0deg);
  }
  40%,
  60% {
    transform: rotate(90deg);
  }
  95%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes animateBtn {
  0%,
  5% {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0deg);
  }
}
