@charset "UTF-8";
*, html {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Modak-Regular;
  src: url("../fonts/Modak-Regular.ttf");
}
@font-face {
  font-family: RammettoOne-Regular;
  src: url("../fonts/RammettoOne-Regular.ttf");
}
@font-face {
  font-family: NotoSansMalayalam-SemiBold;
  src: url("../fonts/NotoSansMalayalam-SemiBold.ttf");
}
@font-face {
  font-family: MochiyPopPOne-Regular;
  src: url("../fonts/MochiyPopPOne-Regular.ttf");
}
@font-face {
  font-family: LilitaOne-Regular;
  src: url("../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: DarumadropOne-Regular;
  src: url("../fonts/DarumadropOne-Regular.ttf");
}
.popup, .overlay, .pop-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay, .pop-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup .phone::before, .popup .phone::after {
  content: "";
  width: 100%;
  border-bottom: 0.1875rem solid #000;
  position: absolute;
  left: 0;
}

.main-container .game-item .drag-main-container .drag-container .drag-item span, .main-container .game-item .drag-main-container .drag-container .drag-item, .main-container .game-item .image-container, .main-container .game-item .main-title,
.main-container .game-item .sub-title {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.icon {
  height: 100%;
  max-height: 3rem;
  aspect-ratio: 1;
  position: relative;
  z-index: 1000;
  background: linear-gradient(to bottom, #febf47 2%, #f0b700);
  color: #fff;
  font-size: 1.25rem;
  border: 0.25rem solid #399ffe;
  border-radius: 27%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.icon .fa-solid {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.icon.info {
  transform-style: preserve-3d;
}
.icon.info.show::before {
  opacity: 1;
  animation-name: visible;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.icon.info.hide::before {
  transform: translateZ(-1px) scaleX(0);
}
.icon.info::before {
  content: attr(text);
  height: 100%;
  padding: 0.25rem 1.5rem;
  position: absolute;
  left: 80%;
  transform: translateZ(-1px);
  opacity: 0;
  transform-origin: 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 90%;
  font-family: MochiyPopPOne-Regular;
  white-space: nowrap;
  letter-spacing: 0.1rem;
  border-radius: 0 0.75rem 0.75rem 0;
  transition: 0.5s;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
@media (min-width: 320px) {
  .icon.info::before {
    font-size: 70%;
  }
}
.icon.pause {
  height: 100%;
  position: absolute;
  left: 0;
  top: calc(100vh - 3rem);
  transform: translateY(-100%);
  transition: 0.5s;
  visibility: hidden;
  z-index: 111111111111;
}
.icon.pause .fa-solid.hide {
  display: none;
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
}
.loader-container .loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0, calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px, calc(0 * var(--d)) calc(1 * var(--d)) 0 2px, calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px, calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px, calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px, calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
.main-container {
  display: block;
  overflow: visible;
  width: 80%;
  height: 100%;
  position: relative;
  inset: 0;
  margin: auto;
}
.main-container .game-item {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.main-container .game-item .main-title,
.main-container .game-item .sub-title {
  display: block;
  overflow: visible;
  position: absolute;
  margin: auto;
  z-index: 999;
}
.main-container .game-item .main-title {
  width: 24.122%;
  height: 7.032%;
  top: 6.12%;
  left: 0;
  right: 0;
}
.main-container .game-item .sub-title {
  width: 39.356%;
  height: 5.99%;
  top: 14.454%;
  right: 0;
}
.main-container .game-item .image-container {
  width: 100%;
  display: block;
  height: 100%;
  overflow: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.main-container .game-item .image-container .drop-item {
  display: block;
  overflow: visible;
  width: 25%;
  height: 32.5%;
  position: absolute;
  top: 12.7%;
}
.main-container .game-item .drag-main-container {
  display: block;
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  overflow: visible;
  background: #ffffff;
}
.main-container .game-item .drag-main-container .drag-container {
  display: block;
  overflow: visible;
  width: 49.805%;
  height: 85.3%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  direction: rtl;
}
.main-container .game-item .drag-main-container .drag-container .drag-item {
  width: 25.295%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  cursor: grab;
  display: block;
  overflow: visible;
  z-index: 10000;
  cursor: move;
  transition: width 0.2s ease, height 0.2s ease, transform 0.1s linear;
}
.main-container .game-item .drag-main-container .drag-container .drag-item.dragging {
  width: 51%;
  height: 115%;
  cursor: grabbing;
}
.main-container .game-item .drag-main-container .drag-container .drag-item:first-child {
  left: 10%;
}
.main-container .game-item .drag-main-container .drag-container .drag-item:nth-child(2) {
  left: 40%;
}
.main-container .game-item .drag-main-container .drag-container .drag-item:last-child {
  left: 70%;
}
.main-container .game-item .drag-main-container .drag-container .drag-item.draging {
  cursor: move !important;
  z-index: 99999;
  opacity: 0.5;
}
.main-container .game-item .drag-main-container .drag-container .drag-item span {
  display: block;
  overflow: hidden;
  width: 46%;
  height: 38%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1111;
}
.main-container .game-item .main-message-container {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
}
.main-container .game-item .main-message-container .inner-message-container {
  display: block;
  overflow: visible;
  width: 31.153%;
  height: 46.224%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0 0 169px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
  border: 3px solid #e2e2e2;
  background: rgb(219, 219, 219);
  background: linear-gradient(0deg, rgb(219, 219, 219) 0%, rgb(255, 255, 255) 52%);
}
.main-container .game-item .main-message-container .inner-message-container #feedback {
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.main-container .game-item .main-message-container .inner-message-container #feedback.wellDonw {
  width: 32.602%;
  height: 7.89%;
  top: 37.93%;
  background-image: url("../media/images/wellDonw.svg");
}
.main-container .game-item .main-message-container .inner-message-container #feedback.good {
  width: 19.44%;
  height: 8.17%;
  top: 37.184%;
  background-image: url("../media/images/good.svg");
}
.main-container .game-item .main-message-container .inner-message-container #feedback.tryAgain {
  width: 57.681%;
  height: 8.451%;
  top: 37.493%;
  background-image: url("../media/images/tryAgain.svg");
}
.main-container .game-item .main-message-container .inner-message-container #message-icone {
  display: block;
  overflow: hidden;
  width: 52.98%;
  height: 17.184%;
  position: absolute;
  top: 10.423%;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.main-container .game-item .main-message-container .inner-message-container .wellDonw-icon {
  background-image: url("../media/images/message-icon-wellDonw.svg");
}
.main-container .game-item .main-message-container .inner-message-container .good-icon {
  background-image: url("../media/images/message-icon-good.svg");
}
.main-container .game-item .main-message-container .inner-message-container .tryAgain-icon {
  background-image: url("../media/images/message-icon-tryAgain.svg");
}
.main-container .game-item .main-message-container .inner-message-container .result-text {
  display: block;
  overflow: hidden;
  width: 18.17%;
  height: 7.944%;
  position: absolute;
  top: 60.141%;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../media/images/result-text.svg") no-repeat center;
  background-size: 100% 100%;
}
.main-container .game-item .main-message-container .inner-message-container .result-container {
  display: block;
  overflow: hidden;
  width: 36.991%;
  height: 12.113%;
  position: absolute;
  top: 69.592%;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../media/images/result.svg") no-repeat center;
  background-size: 100% 100%;
}
.main-container .game-item .main-message-container .inner-message-container .result-container span {
  display: block;
  overflow: hidden;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 3vmin;
  text-align: center;
  transform: translateY(-50%);
}
.main-container .game-item .main-message-container .inner-message-container .reload {
  display: block;
  overflow: hidden;
  width: 17.421%;
  height: 15.803%;
  position: absolute;
  bottom: -6.7%;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../media/images/reload.svg") no-repeat center;
  background-size: 100% 100%;
  cursor: pointer;
}

.pop-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
}

.popup {
  width: 70vw;
  height: 70vh;
  max-height: 90%;
  padding: 2rem;
  z-index: 100000;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  visibility: hidden;
}
.popup .phone {
  width: 7vw;
  height: 21vh;
  position: relative;
  flex-shrink: 0;
  border: 0.1875rem solid #000;
  border-radius: 0.3125rem;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: rotatePhone;
  animation-duration: 2s;
}
.popup .phone::after {
  top: 9%;
}
.popup .phone::before {
  bottom: 9%;
}
.popup .message {
  font-family: DarumadropOne-Regular;
  text-transform: uppercase;
  font-size: 4vw;
}

.overlay {
  visibility: hidden;
}
.overlay.show {
  visibility: visible;
}

.fullscreen-overlay {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  position: fixed;
  inset: 0;
  z-index: 10870000;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.fullscreen-overlay.hide {
  display: none;
}
.fullscreen-overlay .message {
  font-family: DarumadropOne-Regular;
  text-transform: uppercase;
  font-size: 4vw;
  animation: click 1s ease-in-out alternate-reverse;
}

/*animations*/
@keyframes skew {
  0% {
    transform: skew(-15deg, -15deg); /* تبدأ من المركز */
  }
  25% {
    transform: skew(15deg, 15deg);
  }
  50% {
    transform: skew(-15deg, -15deg);
  }
  75% {
    transform: skew(15deg, 15deg);
  }
  100% {
    transform: skew(0deg, 0deg);
    /* ستعتمد الحركة النهائية على التنسيقات المختلفة لكل عنصر */
  }
}
@keyframes circle1 {
  0% {
    transform: translate(40px, 33px) rotate(359deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes circle2 {
  0% {
    transform: translate(381px, 238px) rotate(360deg);
  }
  50% {
    transform: translate(149px, 83px) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
@keyframes circle3 {
  0% {
    transform: translate(545px, 229px) rotate(360deg);
  }
  50% {
    transform: translate(178px, 45px) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes circle4 {
  0% {
    transform: translate(751px, 246px) rotate(360deg);
  }
  25% {
    transform: translate(541px, 44px) rotate(300deg);
  }
  50% {
    transform: translate(376px, -1px) rotate(180deg);
  }
  75% {
    transform: translate(192px, -20px) rotate(90deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes circle5 {
  0% {
    transform: translate(923px, 223px) rotate(360deg);
  }
  25% {
    transform: translate(541px, 44px) rotate(360deg);
  }
  50% {
    transform: translate(376px, -1px) rotate(300deg);
  }
  75% {
    transform: translate(192px, -20px) rotate(180deg);
  }
  90% {
    transform: translate(169px, -45px) rotate(90deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translateY(-170%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes visible {
  0% {
    transform: translateZ(-1px) scaleX(0);
  }
  100% {
    transform: translateZ(-1px) scaleX(1);
  }
}
@keyframes hideGame {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes trueAnswer {
  0% {
    width: 0;
  }
  50% {
    width: 120%;
    background-color: rgb(40, 187, 255);
  }
  100% {
    width: 100%;
  }
}
@keyframes scaleDown {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes showCards {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes showCards2 {
  0%, 5% {
    transform: rotateZ(0deg) scale(0);
  }
  15% {
    transform: rotateZ(-15deg) scale(1.1);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg) scale(1.1);
  }
  40%, 100% {
    transform: rotateZ(0deg) scale(1);
  }
}
@keyframes vibrate {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes successScaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes successScaleDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotatePhone {
  0%, 10% {
    transform: rotate(0deg);
  }
  40%, 60% {
    transform: rotate(90deg);
  }
  95%, 100% {
    transform: rotate(0deg);
  }
}
@keyframes animateBtn {
  0%, 5% {
    transform: rotateZ(0deg);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0deg);
  }
}/*# sourceMappingURL=main.css.map */